<div class="container">
    <app-cokepit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cokepit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Chnage Element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy Element</button>
            <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
                <p #contentParagrpah>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div>